#code{
    width: 30vw;
    height: 30vw;
    margin-left: 5vw;
    margin-top: 5vw; 
    border: 1px solid black;
}
#decode_button{
    margin-top: 1vh;
    background-color: orange;
    color: white;
    
}
#encode_button{
    margin-top: 1vh;
    background-color: orange;
    color: white;
    margin-left: 2vw;
}
#footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
#bar li{
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}
#bar a{
    display: block;
    padding: 20px;
  
}
#nav{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#navigation-links ul{
    list-style-type: none;
}
#navigation-links a {
    text-decoration: none;
    color: white;
}
#navigation-links{
    text-align: center;
}
#image-wrapper{
    flex-grow: 0;
    margin: 0 auto;

}
#navigation-links{
    color: white;
}
#space{
    margin-top: 20vh;
    margin-bottom:20vh;
    height: 10vh;
    background-color: white;

}


