#container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
input{
    width: 60vw;
}
button{
    padding: 3px;
    margin-top: 2vh;
    width: 10vw;
    background-color: #337ab7;
    color: white;
    border-color: #2e6da4;
}
table{
    border-collapse: collapse;
    margin-top: 2vh;
}
td{
    padding: 10px 20px;
    border: 1px solid;
    
}
td:first-child{
background-color: rgba(0,0,0,.03);
}